SECRET_KEY=la:clave:dificil
DEBUG=Booleano

# Conexion a la Base de Datos, SQLite Dev / PostgreSQL Prod
DATABASE_URL=postgresql://neondb_owner:npg_d6DF**********@******.c-4.us-xyz-2.*********tech/neondb?sslmode=require

AI_PROVIDER=ollama o groq # 'ollama' local y 'groq' en producción

# Configurar Ollama en Desarrollo local
OLLAMA_URL=http://entupc:11434/v1/chat/completions
OLLAMA_MODEL=llama3.1:8b

# Configuración Groq (Solo en Producción)
GROQ_API_KEY=gsk_q0ttE...----''''''....3FY2VpcIgroqd29912Xcehpfl9
GROQ_URL=https://api.gr0q.coloqbusqueslawebtions
GROQ_MODEL=llama-3.1-8b-instant